@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8f6;
  --on-background: #231917;
  --main: #8f4b3a;
  --on-main: #ffffff;
  --secondary: #77574f;
  --on-secondary: #ffffff;
  --teritary: #6d5d2e;
  --on-teritary: #ffffff;
  --main-container: #ffdad2;
  --on-main-container: #3a0a02;
  --secondary-container: #ffdad2;
  --on-secondary-container: #2c1510;
  --teritary-container: #f7e1a6;
  --on-teritary-container: #241a00;
  --outline: #85736f;
  --error: #ba1a1a;
}

.dark {
  --background: #1a110f;
  --on-background: #f1dfda;
  --main: #ffb4a2;
  --on-main: #561f11;
  --secondary: #e7bdb3;
  --on-secondary: #442a23;
  --teritary: #6d5d2e;
  --on-teritary: #3c2f04;
  --main-container: #723425;
  --on-main-container: #ffdad2;
  --secondary-container: #5d4038;
  --on-secondary-container: #ffdad2;
  --teritary-container: #544519;
  --on-teritary-container: #f7e1a6;
  --outline: #a08c88;
  --error: #ffb4ab;
}

body {
  color: var(--on-background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
